@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"),
       url("/fonts/web/roboto.woff2") format("woff2"), 
       url("/fonts/web/roboto.woff") format("woff"),
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
       url("/fonts/web/robotomedium.woff2") format("woff2"), 
       url("/fonts/web/robotomedium.woff") format("woff"),
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"),
		local("Roboto-Bold"),
		url("/fonts/web/robotobold.woff2") format("woff2"),
		url("/fonts/web/robotobold.woff") format("woff"),
}

body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
	

	background-color: #849d8f;
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	color: #ffffff;
	text-decoration: none;

	border-bottom: 1px solid rgba(255,255,255,0.3);
}

/*img {
	width: 100%;
	height: auto;
}*/

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.wrapper {
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding: 9px 27px 0;
}

.wrapper ul {
	list-style-type: none;
}

/* 

Стили шапки сайта 

*/

.main-navigation {
	display: flex;
	box-sizing: border-box;
	min-height: 64px;
	align-items: center;
}

.main-header-logo {
	width: 154px;
	height: 64px;
	margin-right: 24px;

	border: none;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 700px;
	margin: 0;
	margin-right: auto;
	padding: 0;
	
	line-height: 18px;
	font-weight: bold;
}

.navigation-item {
	margin-right: 25px;
}

.navigation-item > a {
	/*color: #ffffff;*/
}

.navigation-item > a:hover { 
	box-sizing: border-box;
	/*padding: 8px 13px;
	Пока нет решения: пункты меню двигают друг друга при наведении */

	color: #333333;

	border: none;
	background-color: #f7f6f3;
	background-size: 87px 32px;
	border-radius: 25px;
}

.navigation-item > a:active {
	/*padding: 10px 14px;
	Пока нет решения: пункты меню двигают друг друга при наведении */

	color: #323232;

	border: none;
	background-color: #ededed;
	box-shadow: inset 0px 2px 1px 0 #696969;
	border-radius: 25px;
}

.navigation-item:first-child {
	position: relative;
}

.navigation-item-current > a {
	/*padding: 10px 14px;
	Пока нет решения: пункты меню двигают друг друга при наведении */
	color: #ffffff;

	border: none;
	background-color: #d07058;
	border-radius: 25px;
}

.navigation-item-current > a:hover {
	/*padding: 10px 14px;*/
	color: #ffffff;

	border: none;
	background-color: #d07058;
	border-radius: 25px;
}

/* Попапы и всплывающие элементы сейчас стилизовать не нужно. 
Скройте их с помощью display: none. 
Мы вернёмся к ним в седьмом разделе. */
.modal {
	position: fixed;
	display: none;
}

.dropdown {
	position: absolute;
}

.site-navigation-submenu {
	top: 25px;
	left: -20px;

	box-sizing: border-box;
	min-width: 143px;
	padding: 10px 0;

	font-weight: 400;
	font-size: 14px;
	line-height: 20px;

	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
	background-color: #f8f7f4;
	border-radius: 5px;
}

.site-navigation-submenu a {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 28px;
	padding-left: 20px;
	padding-top: 3px;
	
	vertical-align: middle;
	color: #323232;

	border: none;
}

.navigation-submenu-item:first-of-type a {
	font-weight: 700;
}

.navigation-submenu-item:first-of-type a::after {
	content: "";
	width: 128px;
	height: 1px;
	background-color: rgba(137, 150, 166, 0.2);
}

.navigation-submenu-item {
	/*height: 28px;*/
}

.navigation-submenu-item:hover {
	background-color: #fbded7;
}

.navigation-submenu-item:active {
	background-color: #f6b5a5;
}

.navigation-submenu-item-current {
	background-color: #d07058;
}

.navigation-submenu-item-current a {
	color: #ffffff;
}

.navigation-submenu-item-current:hover {
	color: #ffffff;

	background-color: #d07058;
}

.user-navigation {
	display: flex;
	align-items: center;
	width: 245px;
	margin-left: auto;
}

.nav-button {
	display: inline-block;
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	text-align: center;
	color: #ffffff;

	background-color: rgba(255,255,255,0.2);
	border: none;
	border-radius: 25px;
}

.nav-button:hover {
	color: #323232;

	background-color: #ffffff;
	/*opacity: 1;*/
	border: none;
	border-radius: 25px;
}

.nav-button:hover path {
	fill: #323232;
}

.user-navigation .nav-button {
	padding: 8.5px 15px 8.5px 45px;
	margin-right: 10px;
}

.cart .nav-button {
	margin-right: 0px;
}

.wrapper input {
	box-sizing: border-box;
	height: 44px;

	font-size: 16px;
	font-weight: 400;
	vertical-align: middle;
	line-height: 24px;
	padding-left: 15px;
	color: #999999;

	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.search {
	position: relative;
}

.search .nav-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;

	width: 33px;
	height: 33px;
}

.site-search {
	bottom: -88px;
	right: 10px;

	box-sizing: border-box;
	width: 341px;
	height: 84px;
	padding: 20px 15px;

	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.site-search label {
	font-size: 0;
}

.search-bar input {
	width: 100%;
}

.cabinet {
	position: relative;
}

.cabinet .nav-button {
	display: flex;
	position: relative;
}

.cabinet .icon {
	width: 21px;
	height: 19px;

	position: absolute;
	left: 17px;
}

.customer-login {
	bottom: -218px;
	right: 10px;

	box-sizing: border-box;
	width: 277px;
	height: 214px;
	padding: 20px 17px 22px 19px;

	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.login-form p {
	padding: 0;
	margin: 0;
}

.login-form input[type="email"],
.login-form input[type="password"] {
	width: 100%;
	margin-bottom: 20px;
}

.button {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;

	background-image: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0px 1px 2px 0 #ac1000;
	border: none;
	border-radius: 25px;
}

.button:hover {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0px 1px 2px 0 #ac1000;
}

.button:active {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
	box-shadow: inset 0px 2px 2px 0 #942718;
}

.login-form button {
	float: left;
	width: 100px;
	height: 44px;
	margin-right: 20px;
}

.customer-login a {
	font-size: 13px;
	font-weight: 400;
	color: #323232;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

.customer-login a:hover,
.customer-login a:active {
	font-size: 13px;
	font-weight: 400;
	color: #e84d37;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

.cart {
	position: relative;
}

.cart .nav-button {
	position: relative;
}

.cart > .nav-button::before {
	content: "";

	position: absolute;
	left: 16px;
	top: 7px;

	width: 21px;
	height: 20px;

	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.cart .nav-button:hover::before {
	background-image: url("../img/red-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.cart .filled-cart {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	min-width: 117px;
	padding-left: 36px;

	color: #323232;

	background-color: #f8f7f4;
}

.cart .filled-cart::before {
	content: "";

	position: absolute;
	left: 14px;
	top: auto;

	width: 21px;
	height: 20px;

	background-image: url("../img/red-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.order-list {
	top: 37px;
	right: 0;

	box-sizing: border-box;
	width: 540px;
	padding: 20px 14px 0 16px;

	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;

	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.revoke-order {
	width: 11px;
	height: 11px;

	font-size: 0;

	background-image: url("../img/lil-cross.svg");
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #f8f7f4;
	border: none;
}

.order-list-form img {
	border-radius: 50%;
}

.order-total-cost {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	text-align: right;
}

.weight-n-price span:nth-of-type(2) {
	color: #999999;
}

.order-list-form button[type="submit"] {
	float: right;
	width: 170px;
	height: 44px;
	margin-top: 10px;
	margin-bottom: 21px;
}

.order-list-form::after {
	content: "";
	display: table;
	clear: both;
}

.working-hours {
	text-align: right;
}

.working-hours p {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #ffffff;
}

.working-hours p:last-child {
	margin-top: 5px;

	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
}

/*

Стили основного содержимого 

*/

.half-width {
	width: 560px;

	border-radius: 15px;
}

.marketing-campaign-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}

.marketing-campaign-preview {
	display: flex;
	flex-direction: column;
	height: 229px;
	padding-bottom: 23px;
}

.marketing-campaign-preview h2,
.marketing-campaign-preview p {
	margin: 0;
	margin-left: 20px;
}

.marketing-campaign-preview h2 {
	margin-top: 23px;
	font-size: 35px;
}

.marketing-campaign-preview p {
	width: 510px;
	margin-top: 20px;

	letter-spacing: -1px;
}

.marketing-campaign-list li:first-child {
	background-color: #73172b;
	background-image: url("../img/raspberry-bg.jpg");
	background-size: cover;
}

.marketing-campaign-list li:last-child {
	background-color: #3a2217;
	background-image: url("../img/chocolate-bg.jpg");
	background-size: cover;
}

.marketing-campaign-preview a {
	color: #ffffff;
	border: none;
}

.marketing-campaign-preview .button {
	box-sizing: border-box;
	height: 45px;
	align-self: flex-end;
	margin-top: auto;
	margin-right: 21px;
	padding: 10px 22px 0 22px;
	
	font-size: 18px;
	line-height: 24px;
}

.breadcrumbs {
	display: flex;
	padding: 0;
	margin: 0;

	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.breadcrumbs a {
	color: #ffffff;
}

.breadcrumbs li::after {
	content: " » ";
	margin: 0 5px 0 5px;
}

.breadcrumbs .breadcrumbs-current::after {
	content: "";
}

.page-title {
	margin-top: 10px;

	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}

.catalog-filter-list {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
}

.catalog-filter-list h3 {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.catalog-filter-form button[type="submit"] {
	width: 144px;
	height: 37px;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;

	background-color: rgba(255,255,255,0.2);
	border: 2px solid white;
	border-radius: 35px;
}

.catalog-filter-form button[type="submit"]:hover {
	color: #323232;
	background-color: #ffffff;
}

.catalog-filter-form button[type="submit"]:active {
	color: #323232;

	border: none;
	box-shadow: inset 0px 2px 1px 0 #696969;
	background-color: #ededed;
}

/*.filter-item {
	height: 37px;
	opacity: 0.2;
	background-color: #ffffff;
}*/

.catalog-list {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 -28px;
	margin-top: 34px;
}

.catalog-item {
	width: 267px;
	
	position: relative;

    border-radius: 5px;
    padding: 6px 14px 0;
    margin: 0;
    margin-bottom: 34px;
    /*box-sizing: border-box;*/
}

.catalog-item:hover {
	/*min-height: 405px;*/

	background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item a {
	display: flex;
	flex-direction: column;

	position: relative;

	border: none;
}

.catalog-item h3 {
	padding: 0;
	margin: 0;
	order: 1;

	text-align: center;
}

.catalog-item-image { 
	width: 267px;
	padding: 0;
	margin: 0;

	background-color: #849d8f;
}

.catalog-item-image img {
	border-radius: 50%;
}

.catalog-item-image:hover {
	background-color: rgba(255, 255, 255, 0);
	/*Найти способ убирать «старый» цвет рамки изображения при наведении */
}

.best-selling .catalog-item-image::after {
	content: "";

	position: absolute;
	top: 0px;

    width: 61px;
    height: 61px;

	background-image: url("../img/hit.svg");
	background-repeat: no-repeat;
	background-size: 61px 61px;
}

.catalog-item-title {
	display: inline-block;
	width: 240px;
	padding: 0;
	margin: 0;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color: rgba(255,255,255,0.2);

	/*border-bottom: 1px solid rgba(255,255,255,0.2);*/
}

.catalog-item-title:hover {
	color: #ffbc9e;
}

.catalog-item-price {
	position: absolute;
	top: 200px;
	
	margin: 0;

	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price-value {
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	/*добавить правильный word-spacing или блок вместо пробела с нужной шириной*/
}

.catalog-item-price-measure {
	font-size: 30px;
	font-weight: 700;
}

.catalog-item .button {
	position: absolute;
	left: 46px;
	top: 335px;

	width: 200px;
	height: 44px;

	text-align: center;
}

.features {
	box-sizing: border-box;
	width: 1146px;
	height: 306px;
	/*margin-top: 40px;*/
	margin-bottom: 40px;
	padding-top: 30px;
	padding-bottom: 25px;
	padding-right: 20px;

	font-weight: 400;
	color: #323232;

	background-image: url("../img/waffles-bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	border-radius: 15px;
}

.features h1 {
	margin: 0;
	margin-left: 20px;
	margin-bottom: 26px;

	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	color: #323232;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding-left: 76px;
}

.features-item:first-of-type::before {
	content: "";

	position: absolute;
	top: -16px;
	left: -57px;
	width: 49px;
	height: 49px;

	background-image: url("../img/icecream.svg");
}

.features-item:nth-of-type(2)::before {
	content: "";

	position: absolute;
	top: -16px;
	left: -57px;
	width: 49px;
	height: 49px;

	background-image: url("../img/cow.svg");
}

.features-item:nth-of-type(3)::before {
	content: "";

	position: absolute;
	top: -16px;
	left: -57px;
	width: 49px;
	height: 49px;

	background-image: url("../img/leaf.svg");
}

.features-item:last-of-type::before {
	content: "";

	position: absolute;
	top: -16px;
	left: -57px;
	width: 49px;
	height: 49px;

	background-image: url("../img/thermo.svg");
}

.features-item {
	position: relative;
	width: 476px;
}

.features-item p {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.container {
	display: flex;
	justify-content: space-between;

	margin-bottom: 40px;
}

.blog-preview {
	height: 220px;

	background-image: url("../img/blog-preview-bg.jpg");
	background-size: cover;
}

.blog-preview a {
	display: flex;
	flex-direction: column;
}

.blog-preview p {
	margin: 26px 0 0 20px;

	font-size: 16px;
	font-weight: 500;
}

.blog-preview h2 {
	order: 1;
	width: 295px;
	margin: 0;
	margin: 13px 0 0 20px;

	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	/*border-bottom: 2px solid #323232;*/
	text-decoration-line: underline;
}

.blog-preview h2:hover {
	color: #e84d37;
}

.blog-preview a {
	color: #323232;
}

.mail-distribution {
	display: flex;
	height: 220px;

	/*font-size: 16px;*/
	color: #5a5a5a;

	background-image: url("../img/mail-bg.svg");
	background-position: top center;
	background-repeat: no-repeat;
}

.subscribe-wrapper {
	margin: 5px;

	border-radius: 10px;
	background-color: #f8f7f4;
}

.subscribe-wrapper p {
	padding: 33px 22px 0;
	margin: 0;
}

.mail-distribution-form {
	display: flex;
	justify-content: space-between;
	margin-top: 38px;
	padding: 0 22px 0 22px;
}

.mail-distribution-form input {
	margin-right: 10px;
	flex-grow: 1;
}

.store-contacts {
	position: relative;
}

.map { /* Сделать карту шире, чем .wrapper */
	/*box-sizing: border-box;*/
	/*width: 100%;*/
	margin: auto -25px;
}

.contacts-wrapper {
	position: absolute;
	top: 63px;
	right: 27px;

	box-sizing: border-box;
	width: 302px;
	height: 305px;
	padding-top: 30px;
	padding-left: 25px;

	
	font-size: 14px;
	line-height: 20px;
	color: #323232;

	background-color: #ffffff;
	border-radius: 15px;
}

.contacts-wrapper p {
	padding: 0;
	margin: 0;

	font-style: normal;
}

.contacts-wrapper p:nth-of-type(even),
.contacts-wrapper span {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.contacts-wrapper p:first-of-type {
	width: 148px;
}

.contacts-wrapper p:nth-of-type(2) {
	margin-top: 5px;
}

.contacts-wrapper p:nth-of-type(3) {
	margin-top: 20px;
}

.contacts-wrapper span {
	display: inline-block;
	margin-top: 10px;
}

.contacts-wrapper .button {
	width: 252px;
	height: 44px;
	margin-top: 25px;
	line-height: 24px;
}

.modal-feedback {
	top: 35vh;
	left: 35vw;

	box-sizing: border-box;
	width: 478px;
	height: 443px;
	padding: 20px 25px 0 24px;

	border-radius: 10px;
	background-color: #f8f7f4;
}

.modal-feedback h2 {
	margin: 0 0 20px 0;

	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	color: #323232;
	text-align: left;
}

.feedback-form {
	display: flex;
	flex-direction: column;
}

.feedback-form p {
	padding: 0;
	margin: 0;
}

.feedback-form input {
	width: 267px;
	margin-bottom: 20px;
}

.feedback-form textarea {
	box-sizing: border-box;
	width: 100%;
	/*height: 155px;*/

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #999999;
	text-align: left;
	padding-left: 15px;
	padding-top: 13px;

	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.feedback-form .button {
	width: 139px;
	height: 44px;
	margin-top: 25px;
	align-self: flex-end;
}

.modal-close {
	float: right;
	width: 18px;
	height: 18px;

	font-size: 0;

	background-image: url("../img/cross.svg");
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #f8f7f4;
	border: none;
}

.pagination-list {
	margin: 0;
	padding: 0;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #323232;
}

.pagination-list a {
	color: #ffffff;
	border: none;
}

.pagination-list a:hover {
	display: inline-block;
	width: 27px;
	height: 27px;

	text-align: center;
	/*vertical-align: middle;*/

	background-color: rgba(255,255,255,0.2);
	border-radius: 50%;
}

.pagination-list a:active {
	color: #323232;

	background-color: #ffffff;
}

.pagination-current {
	width: 27px;
	height: 27px;
	
	text-align: center;
	/*vertical-align: middle;*/

	background-color: #ffffff;
	border-radius: 50%;
}

.pagination-list::after { /*Разделитель перед футером в catalog*/
	content: "";
	width: 1146px;
	height: 1px;
	opacity: 0.3;
	background-color: #ffffff;
}

/*

Стили футера

*/

.main-footer {
	display: flex;
	height: 103px;
	justify-content: space-between;
	align-items: flex-end;
}

.main-footer ul,
.main-footer > p {
	margin-bottom: 30px;
}

.footer-social ul {
	display: flex;
	width: 194px;
	justify-content: space-between;
	padding: 0;
}

.footer-social li {
	width: 38px;
	height: 38px;
	box-sizing: border-box;
	border: 3px solid rgba(255,255,255,0.5);
	border-radius: 50%;
}

.footer-social a {
	display: block;
	box-sizing: border-box;
	width: 38px;
	height: 38px;
	
	font-size: 0;

	border: none;
}

.social-tw {
	background-image: url("../img/tw.svg");
	background-repeat: no-repeat;
	opacity: 0.8;
}

.social-ig {
	background-image: url("../img/ig.svg");
	background-repeat: no-repeat;
	opacity: 0.8;
}

.social-fb {
	background-image: url("../img/fb.svg");
	background-repeat: no-repeat;
	opacity: 0.8;
}

.social-vk {
	background-image: url("../img/vk.svg");
	background-repeat: no-repeat;
	opacity: 0.8;
}

.documentation-list {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	column-count: 2;
}

.documentation-list a {
	color: #ffffff;
}

.documentation-list li:first-of-type {
	font-weight: 700;
}

.documentation-list li:first-of-type::before {
	content: "";
	background-image: url("../img/heart.svg");
}

.footer-copyright {
	margin: 0;

	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.footer-copyright a {
	color: #fefefe;
}

.footer-copyright::before {
	content: "";
	background-image: url("../img/logo-htmlacademy-small.svg");
	background-repeat: no-repeat;
	background-size: 108px 39px;
}